body {
    margin: 0 auto;
    background: #1C1C1C;
    width: 550px;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    }
    
    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 550px;
      height: 550px;
      top: 64px;
      background: #1F2937;
    }
    
    h1{
      color: white;
      padding-left: 20px;
    }
    
    h2{
      width: 180px;
      height: 32px;
      left: 67px;
      top: 350px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: #55F991;
      background: #273549;
      border-radius: 6px;
    }
    
    h2:hover{
      background-color: rgb(225, 228, 135);
      color: #1C1C1C;
      cursor: pointer;
    }
    
    
    p {
      width: 372px;
      height: 28px;
      left: 52px;
      top: 205px;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #D5D4D8;
      padding-left: 20px;
    }
    
    #btn :hover {
      cursor: pointer;
      transform: scale(1.5);
    }
    
    #genBtn {
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 9px 17px 9px 15px;
      border-radius: 8px;
      gap: 12px;
      position: absolute;
      width: 192px;
      height: 32px;
      left: 160px;
      top: 200px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      background: #55F991;
      color: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
    }
    
    
    #copyNote{
      position: absolute;
      margin-top: 170px;
      font-size: 14px;
      color: #D5D4D8;
      text-align: center;
    }
    
    #clearBtn{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top:40px;
      padding: 9px 17px 9px 15px;
      border-radius: 8px;
      gap: 12px;
      position: absolute;
      width: 192px;
      height: 32px;
      left: 160px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      background: #55F991;
      color: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
    }
    
    #results{
      display: flex;
      flex-direction:row;
      margin-top: 40px;
      justify-content: space-evenly;
      align-items: center;
    }